<!DOCTYPE html>
<html lang="en">
<head>
<title>$title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Menu Navbar -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Torrents :: Search Results</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Selecione...<span class="caret"></span></a>
	        <ul class="dropdown-menu">
#foreach( $serieInfo in $allSeriesInfo )
                <li><a href="javascript:void(0)" onclick="showTorrentsList('$serieInfo.name')">$serieInfo.name</a></li>
#end
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav>
    
    <!-- Resultados -->
#foreach( $serieInfo in $allSeriesInfo )
    <div id="$serieInfo.name" class="container serie">
    <h3>$serieInfo.name</h3>
    $serieInfo.html
    </div>
#end

    <script>
        showTorrentsList("$firstSerieName");

        function showTorrentsList(serieName) {
            var i;
            var x = document.getElementsByClassName("serie");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(serieName).style.display = "block";
        }
    </script>
</body>
</html>
