<!DOCTYPE html>
<html lang="en">
<head>
  <title>Torrents :: Search Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
#foreach( $serieInfo in $allSeriesInfo )
         <li><a href="#" onclick="showTorrentsList('$serieInfo.name')">$serieInfo.name</a></li>
#end
      </ul>
    </div>

    <div class="col-sm-6">

    <!-- Resultados -->
	#foreach( $serieInfo in $allSeriesInfo )

	    <div id="$serieInfo.name" class="container serie">
	    <h3>$serieInfo.name</h3>

	   	$serieInfo.html

	   	#if ( $serieInfo.listTorrents.empty )
	    	<h4>Nenhum resultado encontrado :(</h4>
	    #end

	    </div>
	#end
    </div>
</div>

<script>
    showTorrentsList("$firstSerieName");

    function showTorrentsList(serieName) {
        var i;
        var x = document.getElementsByClassName("serie");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(serieName).style.display = "block";
    }
</script>
</body>
</html>
