<!DOCTYPE html>
<html lang="en">
<head>
  <title>Torrents :: Search Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Resultados -->
<div class="container-fluid">
  <table class="table table-condensed table-hover">
    <tr>
      <th>Title</th>
      <th>Size</th>
      <th>Released</th>
      <th>Seeds</th>
      <th>Leechers</th>
    </tr>
#foreach( $torrentInfo in $allTorrentsInfo )    
    <tr>
      <td><a href="$torrentInfo.magnetLink">$torrentInfo.title</a></td>
      <td>$torrentInfo.size</td>
      <td>$torrentInfo.released</td>
      <td>$torrentInfo.seeds</td>
      <td>$torrentInfo.leechers</td>
    </tr>
#end
  </table>
</div>
<script>
    showTorrentsList("$firstSerieName");

    function showTorrentsList(serieName) {
        var i;
        var x = document.getElementsByClassName("serie");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(serieName).style.display = "block";
    }
</script>
</body>
</html>